        body {margin-top:50px;margin-left:5%;margin-right:5%;font-family:"Open sans";background: #F5F8F9;overflow-x:hidden;}
        .navbar {background:rgb(246, 247, 208);display:inline-block;z-index:100;color:#000;}
        .navbar li a {color:#8ccc24d5!important;}
        .navbar-brandname{font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; padding: 20px;align-items: center;}
        #top {border:1px solid #DEEAEE;background:#fff;border-radius:10px;}
        #searchbox {background:#8ccc24d5;overflow:hidden;}
        #header{margin-top:20px;}
        #myCarousel {border:1px solid #ccc;margin-top:10px;}
        #myCarousel img {width:100%;}
        #category ul{list-style-type:none;overflow:hidden;width:100%; border:1px solid #ccc;background: #fff; border-bottom-right-radius:10px;border-bottom-left-radius: 10px;}
        #category li {display:block; font-weight:400; padding: 10px; border-top: 1px solid #ccc;margin-left:-40px; }
        #publisher-lis img {margin-top:10px;margin-bottom:15px; transition: all 1s linear;}
        #new {font-weight:800;}
        .tag {display:inline;float:left;padding:2px 5px;width:auto;background:#90e137;color:#fff;height:23px;}
        .tag-side{display:inline;float:left;}
        .book-block {margin-top:20px;padding:5px;background:#fff; border :1px solid #DEEAEE;border-radius:10px;}
        #author {margin-top:20px; background:#fff; border :1px solid #DEEAEE;border-radius:10px;}
        #author .row {margin-top: 20px; margin-bottom:20px;}
        #author h3{color:rgb(228, 55, 25);}
        footer {background:#101010!important;margin-top: 20px;border:1px solid #DEEAEE;border-radius:5px;color:#8ccc24d5!important;}
        footer .row {padding:10px;}
        #category li a {
                display: block;
                font-size: medium;
                font-weight: 500;
                color: #0d6e1d;
                -webkit-tap-highlight-color: transparent;
        }       
        #category li a:hover{
                font-weight: 600;
                color: #90e137;
                text-decoration: none;
                background-position-x: left;
                padding-left: 15px;
        }

        #category li:hover{
                background-color: #f3facb;
                padding-left: 15px;
        }

        #publisher-lis figure {
                margin-bottom: 5px;
                border: 1px solid #DEEAEE;
                overflow: hidden;
        }

        #publisher-lis img:hover{
                box-shadow: 8px -8px 0px #0d6e1d;
                transform: scale(1.2);
        }

        * {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .lead a {
                margin-left: 88%;
                color: #0d6e1d;
                font-weight: 600;
                -webkit-tap-highlight-color: transparent;
        }

        .panel-body img {
                margin-bottom: 15px;
        }
        
        .navbar-toggle {
                border-color: #0d6e1d;
                color: #90e137;
        }

        .lead a:hover{
                color: #90e137;
                font-weight: 600;
                text-decoration: none;
        }

        .change-bk a {
                color: #0d6e1d;
        }

        .delete-bk a {
                color: #0d6e1d;
        }

        .delete-bk a:hover{
                color: rgb(255, 10, 40);
                text-decoration: none;
                font-weight: 500;
        }

        .change-bk a:hover{
                color: rgb(40, 10, 255);
                text-decoration: none;
                font-weight: 500;
        }